// Цей файл використовується для об'єднання (підключення) всіх інших файлів зі стилями Вашої частини проєкту

.accessories {
    padding-top: 40px;
    padding-bottom: 50px;
    @media screen and (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    @media screen and (min-width: 1280px) {
        padding-top: 120px;
        padding-bottom: 110px;
    }
}
.accessories__accessories-buttons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
        gap: 50px;
        margin-bottom: 72px;
    }
    @media screen and (min-width: 1280px) {
        gap: 44px;
        margin-bottom: 82px;
    }
}
 .accessories-buttons-list__item {
    @media screen and (min-width: 768) {
      flex-direction: calc(100% - 159px / 4);
    }
 }


.accessories-products-list {
    text-align: -webkit-center;
   @media  screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
   }
   @media screen and(min-width: 1280px) {
    gap: 20px;
   }


}
.accessories-products-list__wrap {
    position: relative;
    overflow: hidden;
    max-width: 285px;
    margin-bottom: 8px;
    border-radius: 12px;
    border: 1px solid #86E543;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
}
.accessories-products-list__text {
position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;
padding-left: 16px;
padding-right: 16px;
padding-top: 16px;
padding-bottom: 52px;
text-align: left;
font-size: 14px;
line-height: 1.14;
background-color: $teal-text-color;
color: $white-text-color;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
.accessories-products-list__item:hover &,
.accessories-products-list__item:focus & {
    transform: translateY(0);
}
}






.accessories-products-list__text-wrap {
    display: inline-block;
    margin-bottom: 15px;
}
.box-prices {
    display: flex;
    margin-top: 8px;
    gap: 80px;
    align-items: center;

}

.wrap-contents {
    max-width: 285px;
    text-align: left;
}
.wrap-contents__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.18;
    color: #86E543;
}


.accessories-products-list__link {
    display: inline-block;
}
.accessories-products-list__item {
     @media screen and(min-width: 1280px) {
        flex-basis: calc((100% - 60px) / 4) ;
    }
}
.accessories-products-list__item:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
    }


.svg {
    fill: red;
}