// Цей файл використовується для об'єднання (підключення) всіх інших файлів зі стилями Вашої частини проєкту
.button__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.button {
  font-family: inherit;
  cursor: pointer;
  border-color: transparent;
  width: 173px;
  height: 51px;
  border-radius: 16px;
  border-width: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-transform: uppercase;
  text-align: center;
  color: $teal-text-color;
  background-color: $green-text-color;
  display: block;
  align-items: center;

  @include tablet {
    width: 306px;
    height: 70px;
    font-size: 32px;
    line-height: calc(38 / 32);
  }
  &:hover,
  &:focus {
    box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
      0px 4px 10px rgba(255, 255, 255, 0.1);
  }
  &--order {
    color: $green-text-color;
    background-color: $teal-text-color;
    border: 1px solid $green-text-color;
    &:hover,
    &:focus {
      filter: drop-shadow(0px 4px 10px rgba(134, 229, 67, 0.1))
        drop-shadow(0px 4px 20px rgba(134, 229, 67, 0.4));
    }
  }
  &--header {
    width: 95px;
    height: 40px;
    text-transform: none;
    font-size: 14px;
    line-height: calc(22 / 14);
    letter-spacing: -0.03em;
    color: $dark-text-color;
    @include desktop {
      width: 102px;
      height: 46px;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0;
    }
  }
}
