// Цей файл використовується для об'єднання (підключення) всіх інших файлів зі стилями Вашої частини проєкту
.guide {
  background-image: url(/src/images/img-bg/bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

ol {
  margin: 0;
}

.container {
  position: relative;
  @media screen and (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.guide__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: $white-text-color;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 72px;
  }
}

.guide-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (max-width: 1279px) {
    margin-bottom: 16px;
  }
}

.guide__image {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    border-radius: 12px;
  }
}

.guide-container {
  @media screen and (min-width: 768px) {
    margin-left: 40px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 96px;
    margin-left: 120px;
    position: absolute;
    top: 80px;
    left: 430px;
  }
}

.guide-box {
  margin-bottom: 20px;
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
}

.guide-row {
  @media screen and (min-width: 1280px) {
    width: 690px;
  }
}

.guide__subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: $white-text-color;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1;
    color: $green-text-color;
    margin-bottom: 32px;
  }
  @media screen and (max-width: 1279px) {
    width: 248px;
  }
}

.guide__datetime {
  width: 261px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: $grey-text-color;
  @media screen and (max-width: 767px) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1;
  }
  @media screen and (min-width: 1280px) {
    width: 347px;
  }
}

.guide__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: $white-text-color;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.guide__text:not(:last-child) {
  margin-bottom: 20px;
}

.guide__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $white-text-color;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
    color: $green-text-color;
  }
}

.guide__list {
  @media screen and (max-width: 767.5px) {
    padding-inline-start: 20px;
    margin-bottom: 20px;
  }
}

.content {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    color: $green-text-color;
  }
}
