// Цей файл використовується для об'єднання (підключення) всіх інших файлів зі стилями Вашої частини проєкту
.guide {
  background-image: none;
}

ol {
  margin: 0;
}

.container.guide {
  position: relative;
  @media screen and (max-width: 479px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.base {
  @media screen and (max-width: 479px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.guide__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
  }
}

.guide-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-end;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 16px;
  }
}

.guide__image {
  width: 100%;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    border-radius: 12px;
  }
}

.guide-container {
  @media screen and (min-width: 768px) {
    margin-left: 40px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 96px;
    margin-left: 120px;
    position: absolute;
    top: 110px;
    left: 430px;
  }
}

.guide-box {
  margin-top: 20px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    margin-top: 24px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 48px;
    margin-top: 65px;
  }
}

.guide-row {
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 690px;
  }
}

.guide__subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1;
    color: $green-text-color;
    margin-bottom: 32px;
  }
  @media screen and (max-width: 1279px) {
    width: 248px;
  }
}

.guide__datetime {
  width: 261px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: $grey-text-color;
  @media screen and (max-width: 767px) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1;
  }
  @media screen and (min-width: 1280px) {
    width: 347px;
  }
}

.guide__text {
  font-size: 16px;
  line-height: 1.19;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.guide__text:not(:last-child) {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.guide__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
    color: $green-text-color;
  }
}

.guide__list {
  @media screen and (max-width: 767.5px) {
    padding-inline-start: 20px;
    margin-bottom: 20px;
  }
}

.content {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    color: $green-text-color;
    margin-bottom: 30px;
  }
}
