body {
  color: $white-text-color;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  

  @media screen and (min-width: $tablet-min) {
    font-size: 24px;
  }
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;

  @media screen and (min-width: $tablet-min) {
    font-size: 56px;
  }
}

h1 {
  @media screen and (min-width: $tablet-min) {
    line-height: 1.18;
  }
}

h2 {
  @media screen and (min-width: $tablet-min) {
    line-height: 1;
  }
}

p {
  line-height: 1.19;

  @media screen and (min-width: $tablet-min) {
    line-height: 1.17;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  margin: 0;
}

textarea {
  resize: none;
}

.container {
  padding-left: 17px;
  padding-right: 17px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $mobile-max) {
    max-width: 480px;
  }

  @media screen and (min-width: $tablet-min) {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: $desktop-min) {
    width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 40px;
  padding-bottom: 48px;

  @media screen and (min-width: $tablet-min) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.main-page {
  @media screen and (max-width: $mobile-max) {
    background-image: url(../images/img-bg/bg-mobile.jpg);
    background-size: contain;
  }

  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    background-image: url(../images/img-bg/bg-tablet.jpg);
    background-size: contain;
  }
  
   @media screen and (min-width: $desktop-min) {
    background-image: url(../images/img-bg/main-bg-desktop.jpg);
    background-size: contain;
  }
}
