$white-text-color: #ffffff;
$green-text-color: #86e543;
$dark-text-color: #000000;
$grey-text-color: #8d9289;
$teal-text-color: #01383a;

$mobile-min: 320px;
$mobile-max: 767.5px;
$tablet-min: 768px;
$tablet-max: 1279.5px;
$desktop-min: 1280px;
