// Кольори тексту
$white-text-color: #ffffff;
$green-text-color: #86e543;
$dark-text-color: #000000;
$grey-text-color: #8d9289;
$teal-text-color: #01383a;

// Тінь кнопок
$green-btn-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
  0px 4px 10px rgba(255, 255, 255, 0.1);
$secondary-btn-shadow: 0px 4px 10px rgba(134, 229, 67, 0.1),
  0px 4px 20px rgba(134, 229, 67, 0.4);
$white-btn-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5),
  0px 4px 10px rgba(134, 229, 67, 0.1);
$sale-btn-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1),
  0px 4px 20px rgba(255, 255, 255, 0.4);
$like-btn-shadow: 0px 4px 10px rgba(134, 229, 67, 0.1),
  0px 4px 20px rgba(134, 229, 67, 0.4);

// Тінь лінії
$line-shadow: rgba(97, 162, 58, 0.2), 0px 4px 50px rgba(94, 236, 54, 0.5),
  0px 4px 4px rgba(17, 168, 26, 0.2);

// Розміри екранів
$mobile-min: 480px;
$mobile-max: 767.5px;
$tablet-min: 768px;
$tablet-max: 1279.5px;
$desktop-min: 1280px;

// Перехід на тіні для hover/focus
$transition-shadow: box-shadow 250ms cubic-bezier(0.21, 0.65, 0.66, 0.12);

// для ломаной линии ОБЩИЕ
$line-height-mobile: 7px;
$line-height-tablet: 19px;

// для ломаной линии SALE
$line-distance-sale-mobile: 133px;
$line-margin-sale-mobile: -16px;
$line-distance-sale-tablet: 324px;
$line-margin-sale-tablet: -80px;
$line-margin-sale-desktop: -40px;
