@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 24px;
  }
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  h1,
h2 {
    font-size: 56px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    line-height: 1.18;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    line-height: 1;
  }
}

p {
  line-height: 1.19;
}
@media screen and (min-width: 768px) {
  p {
    line-height: 1.17;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  margin: 0;
}

textarea {
  resize: none;
}

.container {
  padding-left: 17px;
  padding-right: 17px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767.5px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 40px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 767.5px) {
  .main-page {
    background-image: url(../images/img-bg/bg-mobile.jpg);
    background-size: contain;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .main-page {
    background-image: url(../images/img-bg/bg-tablet.jpg);
    background-size: contain;
  }
}
@media screen and (min-width: 1280px) {
  .main-page {
    background-image: url(../images/img-bg/main-bg-desktop.jpg);
    background-size: contain;
  }
}

.button__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.button {
  font-family: inherit;
  cursor: pointer;
  border-color: transparent;
  width: 173px;
  height: 51px;
  border-radius: 16px;
  border-width: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  text-transform: uppercase;
  text-align: center;
  color: #01383a;
  background-color: #86e543;
  display: block;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .button {
    width: 306px;
    height: 70px;
    font-size: 32px;
    line-height: 1.1875;
  }
}
.button:hover, .button:focus {
  box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5), 0px 4px 10px rgba(255, 255, 255, 0.1);
}
.button--order {
  color: #86e543;
  background-color: #01383a;
  border: 1px solid #86e543;
}
.button--order:hover, .button--order:focus {
  filter: drop-shadow(0px 4px 10px rgba(134, 229, 67, 0.1)) drop-shadow(0px 4px 20px rgba(134, 229, 67, 0.4));
}
.button--header {
  width: 95px;
  height: 40px;
  text-transform: none;
  font-size: 14px;
  line-height: 1.5714285714;
  letter-spacing: -0.03em;
  color: #000000;
}
@media screen and (min-width: 1280px) {
  .button--header {
    width: 102px;
    height: 46px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0;
  }
}

.footer {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 40px 0;
  background: #001414;
  color: #ffffff;
}

.footer-container {
  display: block;
  margin-right: auto;
  margin: 0;
  padding: 0px;
  list-style: none;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer-container {
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: baseline;
  }
}
@media screen and (min-width: 1280px) {
  .footer-container {
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: baseline;
  }
}

.logofooter {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.map {
  display: block;
  margin: 0;
  padding: 0px;
  list-style: none;
}

.map__link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  list-style: none;
  padding-bottom: 16px;
}
.map__link:hover, .map__link:focus {
  color: #2196F3;
}

.box {
  margin-bottom: 16px;
}

.address__field {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  font-style: normal;
}

.address__link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  color: #8D9289;
  font-style: normal;
}

.socials {
  margin-top: 106px;
}
@media (min-width: 768px) {
  .socials {
    margin-top: 0px;
    padding: 0;
  }
}

.footer-icon {
  padding: 0px;
}
@media (min-width: 768px) {
  .footer-icon {
    display: flex;
  }
}

.footer-icon__link {
  padding: 0px;
  color: #001414;
  background-color: #ffffff;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon__link:hover, .footer-icon__link:focus {
  background-color: #2196F3;
}

.footer-icon__icons {
  fill: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon__icons:hover, .footer-icon__icons:focus {
  color: #2196F3;
}

@media screen and (min-width: 320px) {
  .container-sale {
    padding-left: 17px;
    padding-right: 18px;
  }
}
@media screen and (min-width: 768px) {
  .container-sale {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .container-sale {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.main-sale__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
  margin-bottom: 35px;
}
@media screen and (min-width: 768px) {
  .main-sale__title {
    font-size: 56px;
    line-height: 1.18;
    margin-bottom: 51px;
  }
}
@media screen and (min-width: 1280px) {
  .main-sale__title {
    margin-bottom: 43px;
  }
}

@media screen and (max-width: 767.5px) {
  .sale-menu__item:nth-child(odd) {
    display: flex;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767.5px) {
  .sale-menu__item:nth-child(even) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .sale-menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .sale-menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .sale-menu__item {
    flex-basis: calc((100% - 38px) / 2);
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .sale-menu__item {
    flex-basis: calc((100% - 80px) / 4);
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1279.5px) {
  .sale-menu__item:nth-child(odd) {
    margin-right: 38px;
  }
}
@media screen and (max-width: 1279.5px) {
  .sale-menu__item:nth-child(n+7) {
    margin-bottom: 0;
  }
}

.sale-menu__img {
  display: block;
  border: 1px solid transparent;
  border-radius: 12px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .sale-menu__img {
    width: 285px;
  }
}

.wrap-content {
  padding-top: 8px;
  padding-bottom: 20px;
}

.wrap-content__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
  max-width: 261px;
  margin-bottom: 8px;
  color: #86e543;
}

.box-prices {
  display: flex;
  gap: 80px;
  align-items: center;
}

.box-prices__old-price {
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #8d9289;
}

.box-prices__new-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: #86e543;
}/*# sourceMappingURL=index.css.map */