// Цей файл використовується для об'єднання (підключення) всіх інших файлів зі стилями Вашої частини проєкту

.blog__title {
  margin-bottom: 31px;

  @media screen and (min-width: 768px) {
    margin-left: 59px;
    margin-bottom: 67px;
    line-height: 1.18;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 102px;
    margin-bottom: 75px;
  }
}

.blog__list {
  display: flex;
  gap: 24px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    gap: 40px;
  }
}

.blog__item {
  @media screen and (min-width: 1280px) {
    position: relative;
    margin-left: 508px;
  }
}

.article__title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 1;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 52px;
  }
}

.article__wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 40px;

    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.img__wrap {
  @media screen and (max-width: 479px) {
    width: auto;
    margin-left: -16px;
    margin-right: -16px;
  }
}

.article-img {
  margin-bottom: 8px;

  @media screen and (max-width: 479px) {
    width: 100vw;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    border-radius: 12px;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 0;
    left: -508px;
  }
}

.article__attribute {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: end;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 24px;
  }
}

.article__author {
  margin-bottom: 8px;

  font-weight: 500;
  line-height: 1;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.article__date {
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1;

  color: $grey-text-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.article__text {
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.article_link {
  position: relative;

  padding-top: 4px;
  padding-bottom: 4px;
  float: right;

  font-weight: 500;
  line-height: 1;

  color: $green-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow: hidden;

  &:hover,
  &:focus {
    color: #28780d;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 3px;

    border-radius: 2px;
    background: #28780d;

    transform: translateX(-100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::after {
    transform: translateX(0);
  }
}
