.footer {
  padding-top: 25px;
  padding-bottom: 24px;
  background-color: $footer-bg-color;
  z-index: 5;

  @media screen and (min-width: $tablet-min) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer-container {
  @media screen and (min-width: $tablet-min) {
    display: flex;
  }
}

.logo-footer {
  display: flex;
  width: 116px;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: $white-text-color;
  margin-bottom: 25px;

  @media screen and (min-width: $tablet-min) {
    margin-bottom: 0;
    margin-right: 61px;
    min-width: 116px;
  }

  @media screen and (min-width: $desktop-min) {
    width: 187px;
    margin-right: 118px;
  }
}

.inner {
  display: flex;
  @media screen and (max-width: $mobile-max) {
    justify-content: space-between;
    margin-bottom: 24px;
  }

  @media screen and (min-width: $tablet-min) {
    margin-right: 73px;
  }

  @media screen and (min-width: $desktop-min) {
    margin-right: 281px;
  }
}

.map {
  display: block;
  list-style: none;
  font-size: 16px;
  line-height: 1.19;

  @media screen and (min-width: $tablet-min) {
    margin-right: 89px;
  }

  @media screen and (min-width: $desktop-min) {
    margin-right: 217px;
  }
}

.map__item:not(:last-child) {
  margin-bottom: 16px;
}

.map__link {
  font-size: 16px;
  color: $white-text-color;

  &:hover,
  &:focus {
    border-bottom: 1px solid $green-text-color;
  }
}

.address__list {
  width: 100%;
  font-size: 16px;
  line-height: 1.19;
}

.address__item:not(:last-child) {
  margin-bottom: 16px;
}

.address__name {
  margin-bottom: 8px;
  font-style: normal;
}

.address__link {
  display: block;
  color: $grey-text-color;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $white-text-color;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.footer-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width: $tablet-min) {
    flex-direction: row;
    gap: 16px;
  }

  @media screen and (min-width: $desktop-min) {
    flex-direction: column;
    gap: 22px;
  }
}

.footer-icon__item {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: $white-text-color;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-icon__link {
  display: flex;
  color: $white-text-color;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: $white-btn-shadow;
  }
}

.footer-icon__icons {
  fill: $footer-bg-color;
  width: 12px;
  height: 12px;
}
