<section class="blog section">
  <div class="blog__container container">
    <h2 class="blog__title">Blog</h2>

    <ul class="blog__list">
      <li class="blog__item">
        <h3 class="article__title">
          Guide to Picking The Right Gaming Headset
        </h3>
        <div class="article__wrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/img-blog/guide-to-picking-desktop.webp    1x,
                ./images/img-blog/guide-to-picking-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/img-blog/guide-to-picking-desktop.jpg    1x,
                ./images/img-blog/guide-to-picking-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/img-blog/guide-to-picking-tablet.webp    1x,
                ./images/img-blog/guide-to-picking-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/img-blog/guide-to-picking-tablet.jpg    1x,
                ./images/img-blog/guide-to-picking-tablet@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/img-blog/guide-to-picking-mobile.webp    1x,
                ./images/img-blog/guide-to-picking-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/img-blog/guide-to-picking-mobile.jpg    1x,
                ./images/img-blog/guide-to-picking-mobile@2x.jpg 2x
              "
            />
            <img
              src="./images/img-blog/guide-to-picking-mobile.jpg"
              alt="Gaming Headset"
              loading="lazy"
              min-width="320"
              class="article-img"
            />
          </picture>
          <div class="article__attribute">
            <p class="article__author">By Ray Ian Ampoloquio</p>
            <p class="article__date">Updated on September 21, 2022</p>
          </div>
        </div>

        <p class="article__text">
          Learn how to choose an amazing gaming headset with this checklist of
          just 9 surprisingly simple steps. Gaming headsets offer a handy and
          practical solution to any and all of your gaming audio needs. But, as
          with any kind of ...
        </p>
        <a href="./guide-page.html" class="article_link">Learn more</a>
      </li>
      <li class="blog__item">
        <h3 class="article__title">
          Mic Monitoring: What Is It and How It Is Relevant to Gaming
        </h3>
        <div class="article__wrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/img-blog/mic-monitoring-desktop.webp    1x,
                ./images/img-blog/mic-monitoring-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/img-blog/mic-monitoring-desktop.jpg    1x,
                ./images/img-blog/mic-monitoring-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/img-blog/mic-monitoring-tablet.webp    1x,
                ./images/img-blog/mic-monitoring-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/img-blog/mic-monitoring-tablet.jpg    1x,
                ./images/img-blog/mic-monitoring-tablet@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/img-blog/mic-monitoring-mobile.webp    1x,
                ./images/img-blog/mic-monitoring-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/img-blog/mic-monitoring-mobile.jpg    1x,
                ./images/img-blog/mic-monitoring-mobile@2x.jpg 2x
              "
            />
            <img
              src="./images/img-blog/mic-monitoring-mobile.jpg"
              alt="Mic Monitoring"
              loading="lazy"
              min-width="320"
              class="article-img"
            />
          </picture>
          <div class="article__attribute">
            <p class="article__author">By Gab L</p>
            <p class="article__date">Updated on September 10, 2022</p>
          </div>
        </div>

        <p class="article__text">
          An explanation and exploration of microphone monitoring — its benefits
          and how you can start using one of the most underrated features today
          ...
        </p>
        <a href="#" class="article_link">Learn more</a>
      </li>
      <li class="blog__item">
        <h3 class="article__title">How to Choose the Right Gaming Mouse</h3>
        <div class="article__wrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/img-blog/how-to-choose-desktop.webp    1x,
                ./images/img-blog/how-to-choose-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/img-blog/how-to-choose-desktop.jpg    1x,
                ./images/img-blog/how-to-choose-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/img-blog/how-to-choose-tablet.webp    1x,
                ./images/img-blog/how-to-choose-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/img-blog/how-to-choose-tablet.jpg    1x,
                ./images/img-blog/how-to-choose-tablet@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/img-blog/how-to-choose-mobile.webp    1x,
                ./images/img-blog/how-to-choose-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/img-blog/how-to-choose-mobile.jpg    1x,
                ./images/img-blog/how-to-choose-mobile@2x.jpg 2x
              "
            />
            <img
              src="./images/img-blog/how-to-choose-mobile.jpg"
              alt="The Right Gaming Mouse"
              loading="lazy"
              min-width="320"
              class="article-img"
            />
          </picture>
          <div class="article__attribute">
            <p class="article__author">By Michael Crider</p>
            <p class="article__date">Updated on September 2, 2022</p>
          </div>
        </div>

        <p class="article__text">
          A good mouse can make a big difference when playing your favorite
          games. Here’s what you need to know about grip styles, types of gaming
          mice, technical specs, and more, before purchasing a new gaming mouse
          ...
        </p>
        <a href="#" class="article_link">Learn more</a>
      </li>
    </ul>
  </div>
</section>
