<div class="button__wrap">
  <button class="button button--header" type="button">Shop now</button>
  <button class="button button--base" type="button">Start shopping</button>
  <button class="button button--sale" type="button">View all</button>
  <button class="button button--base" type="button">Buy it now</button>
  <button class="button button--order" type="button">ADD TO CART</button>
  <button class="button button--contacts" type="button">SEND</button>
  <button class="button button--filter" type="button">All</button>
  <button class="button button--filter" type="button">Headsets</button>
  <button class="button button--filter" type="button">Keyboards</button>
  <button class="button button--filter" type="button">Mouses</button>

  <button class="button button--like" type="button">
    <svg class="like__icon" width="48" height="48">
      <use href="./images/sprite/symbol-defs.svg#icon-park-outline_cool-two"></use>
    </svg>Cool
  </button>
  <button class="button button--dislike" type="button">
    <svg class="like__icon" width="48" height="48">
      <use href="./images/sprite/symbol-defs.svg#icon-park-outline_bad-two">
      </use>
    </svg>bad
  </button>
  <button class="button button--base" type="button">Let's go!</button>
  <button class="button button--base" type="button">KEEP SHOPPING</button>
  <button class="button button--base" type="button">ok</button>
</div>

<!-- разметка ломаной линии -->
<div class="line-broken">
  <div class="line-broken__first-relative"></div>
  <div class="line-broken__second-relative"></div>
  <div class="line-broken__third-relative"></div>
  <div class="line-broken__second-line">
    <div class="line-broken__first-absolut"></div>
    <div class="line-broken__second-absolut"></div>
    <div class="line-broken__third-absolut"></div>
  </div>
</div>
<!-- png -->
<div class="lines">
  <div class="lines__first-relative"><img src="./images/broken lines/line-bottom.png" alt="light line" height="19">
    <div class="lines__first-absolut"><img src="./images/broken lines/line-top.png" alt="dark line" height="19">
    </div>
  </div>

</div>
</div>