<div class="button__wrap">
  <button class="button button--header" type="button">Shop now</button>
  <button class="button button--base" type="button">Start shopping</button>
  <button class="button button--sale" type="button">View all</button>
  <button class="button button--base" type="button">Buy it now</button>
  <button class="button button--order" type="button">ADD TO CART</button>
  <button class="button button--contacts" type="button">SEND</button>
  <button class="button button--filter" type="button">All</button>
  <button class="button button--filter" type="button">Headsets</button>
  <button class="button button--filter" type="button">Keyboards</button>
  <button class="button button--filter" type="button">Mouses</button>

  <button class="button button--like" type="button">
    <svg class="like__icon" width="48" height="48">
      <use href="./images/sprite/symbol-defs.svg#icon-park-outline_cool-two"></use>
    </svg>Cool
  </button>
  <button class="button button--dislike" type="button">
    <svg class="like__icon" width="48" height="48">
      <use href="./images/sprite/symbol-defs.svg#icon-park-outline_bad-two">
      </use>
    </svg>bad
  </button>
  <button class="button button--base" type="button">Let's go!</button>
  <button class="button button--base" type="button">KEEP SHOPPING</button>
  <button class="button button--base" type="button">ok</button>
</div>

<!-- разметка ломаной линии ass-->
<div class="line-broken line-broken--ass">
  <div class="line-broken__first-relative line-broken__first-relative--ass"></div>
  <div class="line-broken__second-relative line-broken__second-relative--ass"></div>
  <div class="line-broken__third-relative line-broken__third-relative--ass"></div>
  <div class="line-broken__second-line line-broken__second-line--ass">
    <div class="line-broken__first-absolut line-broken__first-absolut--ass"></div>
    <div class="line-broken__second-absolut line-broken__second-absolut--ass"></div>
    <div class="line-broken__third-absolut line-broken__third-absolut--ass"></div>
  </div>
</div>