<footer class="footer">
    <div class="container">
        <div class="footer-container">
                        <div class="logo">
                            <p class="logofooter">SHOP FOR GAMERS</p>
                        </div>
                        <div class="holder">
                            <ul class="map">
                                <li class="map__item"><a class="map__link" href="">Accessories</a></li>
                                <li class="map__item"><a class="map__link" href="">Take order</a></li>
                                <li class="map__item"><a class="map__link" href="">Contact</a></li>
                                <li class="map__item"><a class="map__link" href="">Blog</a></li>
                            </ul>
                        </div>
                        <div class="socials">
                            <ul class="footer-icon">
                                <li class="footer-icon__item">
                                    <a href="" class="footer-icon__link">
                                        <svg class="footer-icon__icons" width="10.5" height="10.5">
                                            <use href="./images/sprite/symbol-defs.svg#icon-Group-1716"></use>
                                        </svg></a>
                                </li>
                                <li class="footer-icon__item">
                                    <a href="" class="footer-icon__link">
                                        <svg class="footer-icon__icons" width="12" height="8.01">
                                            <use href="./images/sprite/symbol-defs.svg#icon-Youtube"></use>
                                        </svg></a>
                                </li>
                                <li class="footer-icon__item">
                                    <a href="" class="footer-icon__link">
                                        <svg class="footer-icon__icons" width="6,5" height="12">
                                            <use href="./images/sprite/symbol-defs.svg#icon-Facebook"></use>
                                        </svg></a>
                                </li>
                            </ul>
                        </div>
                        <div class="contacts">
                            <address class="box">
                                <ul class="address">
                                    <li class="address__item">
                                        <p class="address__field">Email</p>
                                    </li>
                                    <li class="address__item"><a href="mailto:sfg.info@gmail.com" class="address__link">sfg.info@gmail.com</a>
                                    </li>
                                </ul>
                            </address>
                            <ul class="address">
                                <li class="address__item">
                                    <p class="address__field">Phone number</p>
                                </li>
                                <li class="address__item"><a href="tel:+38(093)6432288" class="address__link">+38 (093) 643 22 88</a></li>
                                <li class="address__item"><a href="tel:+38(050)3454423" class="address__link">+38 (050) 345 44 23</a></li>
                            </ul>
                        </div>
          
        </div>
    </div>
</footer>