<header class="header">
    <div class="container header__overlay">
        <a class="logo" href="./index.html">shop for gamers</a>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__item">
                <a class="header__link" href="./all-accessories.html">Accessories</a>
            </li>
            <!-- <li class="header__item">
                <a class="header__link" href="./take-order.html">Take order</a>
            </li> -->
            <li class="header__item">
                <a class="header__link" href="./contacts.html">Contact</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="./blog-page.html">Blog</a>
            </li>
        </ul>
    </nav>
    <button type="button" class="button-open-menu" data-menu-open>
        <svg width="54" height="36">
            <use href="./images/sprite/symbol-defs.svg#icon-eva_menu-outline"></use>
        </svg>
    </button>
    <button type="button" class="button button--header">
        <a class="header__button" href="./all-accessories.html">Shop now</a>
    </button>
    <button type="button" class="button-close-menu" data-menu-close>
        <svg width="36" height="36">
            <use href="./images/sprite/symbol-defs.svg#icon-akar-icons_cross"></use>
        </svg>
    </button>
    </div>
    <div class="menu-container is-hidden" data-menu>
        <ul class="menu__list">
            <li class="menu__item">
                <a class="menu__link" href="./all-accessories.html">Accessories</a>
            </li>
            <!-- <li class="menu__item">
                <a class="menu__link" href="./take-order.html">Take order</a>
            </li> -->
            <li class="menu__item">
                <a class="menu__link" href="./contacts.html">Contact</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="./blog-page.html">Blog</a>
            </li>
        </ul>
    </div>
</header>

