<section class="order-section section">
  <div class="container">
    <h2 class="order-title title">Take order</h2>
    <div class="order-box">
      <picture >
        <source
        type="image/webp"
        srcset="./images/img-order/order-desktop-1.webp 1x, ./images/img-order/order-desktop-1@2x.webp 2x"
        media="(min-width 1280px)"
        />

        <source
        srcset="./images/img-order/order-tablet-1.webp 1x, ./images/img-order/order-tablet-1@2x.webp 2x"
        media="(min-width 768px)"
        type="image/webp"
        >

        <source
        srcset="./images/img-order/order-mobile-1.webp 1x, ./images/img-order/order-mobile-1@2x.webp 2x"
        media="(min-width 320px)"
        type="image/webp"
        >
        <img src="./images/img-order/order-desktop-1@2x.webp" alt="" width="774" class="order-image">
      </picture>
        <div class="orderder-price">
          <h3 class="order-subtitle">Xiberia K9 PRO PC Headset</h3>
            <div class="order-price__box">
            <p class="order-price-text">65.14 USD</p>
            <p class="order-price-text__active">55.14 USD</p>
            </div>
            <ul class="product-list list">
              <li class="product-item">
                <picture >
                  <source
                  type="image/webp"
                  srcset="
                  ./images/img-order/photo-description-1-desctop-1.webp 1x,    
                  ./images/img-order/photo-description-1-desctop1@2x.webp 2x"
                  media="(min-width 1280px)"
                  />
          
                  <source
                  srcset="
                  ./images/img-order/photo-description-1-tablet-1.webp 1x, 
                  ./images/img-order/photo-description-1-tablet1@2x.webp 2x"
                  media="(min-width 768px)"
                  type="image/webp"
                  >
          
                  <source
                  srcset="
                  ./images/img-order/photo-description-1-mobile-1.webp 1x, 
                  ./images/img-order/photo-description-1-mobile-1@2x.webp 2x"
                  media="(min-width 320px)"
                  type="image/webp"
                  >
                  <img src="./images/img-order/order-desktop-1@2x.webp" alt=""  class="order-image">
                </picture>
              </li>
              <li class="product-item">
                <picture >
                  <source
                  type="image/webp"
                  srcset="
                  ./images/img-order/photo-description-2-desctop-1.webp 1x,    
                  ./images/img-order/photo-description-2-desctop1@2x.webp 2x"
                  media="(min-width 1280px)"
                  />
          
                  <source
                  srcset="
                  ./images/img-order/photo-description-2-tablet-1.webp 1x, 
                  ./images/img-order/photo-description-2-tablet1@2x.webp 2x"
                  media="(min-width 768px)"
                  type="image/webp"
                  >
          
                  <source
                  srcset="
                  ./images/img-order/photo-description-2-mobile-1.webp 1x, 
                  ./images/img-order/photo-description-2-mobile-1@2x.webp 2x"
                  media="(min-width 320px)"
                  type="image/webp"
                  >
                  <img src="./images/img-order/photo-description-2-desctop-1.webp" alt=""  class="order-image">
                </picture>

                
              </li>
              <li class="product-item"> <picture >
                <source
                type="image/webp"
                srcset="
                ./images/img-order/photo-description-3-desctop-1.webp 1x,    
                ./images/img-order/photo-description-3-desctop1@2x.webp 2x"
                media="(min-width 1280px)"
                />
        
                <source
                srcset="
                ./images/img-order/photo-description-3-tablet-1.webp 1x, 
                ./images/img-order/photo-description-3-tablet1@2x.webp 2x"
                media="(min-width 768px)"
                type="image/webp"
                >
        
                <source
                srcset="
                ./images/img-order/photo-description-3-mobile-1.webp 1x, 
                ./images/img-order/photo-description-3-mobile-1@2x.webp 2x"
                media="(min-width 320px)"
                type="image/webp"
                >
                <img src="./images/img-order/photo-description-3-desctop-1.webp" alt=""  class="order-image">
              </picture>

              </li>
              <li class="product-item">
                <picture >
                  <source
                  type="image/webp"
                  srcset="
                  ./images/img-order/photo-description-4-desctop-1.webp 1x,    
                  ./images/img-order/photo-description-4-desctop1@2x.webp 2x"
                  media="(min-width 1280px)"
                  />
          
                  <source
                  srcset="
                  ./images/img-order/photo-description-4-tablet-1.webp 1x, 
                  ./images/img-order/photo-description-4-tablet1@2x.webp 2x"
                  media="(min-width 768px)"
                  type="image/webp"
                  >
          
                  <source
                  srcset="
                  ./images/img-order/photo-description-4-mobile-1.webp 1x, 
                  ./images/img-order/photo-description-4-mobile-1@2x.webp 2x"
                  media="(min-width 320px)"
                  type="image/webp"
                  >
                  <img src="./images/img-order/photo-description-4-desctop-1.webp" alt=""  class="order-image">
                </picture>

              </li>
            </ul>
        </div>
    </div>

    <p class="order-form__title">CONTACT US</p>
    <form class="order-form"> 
      <input type="text" class="order-form__input" pattern="[a-zA-Zа-яА-ЯіІїЇ]+" name="user-name" required placeholder="Name"/>

      <input type="text" class="order-form__input" pattern="[a-zA-Zа-яА-ЯіІїЇ]+" name="user-email" required placeholder="Email"/>

      <select name="color-option" class="order-form__select">
        <span class="option-decoration"><option value="black-orange" class="order-form__option">K9D Black Orange </option></span>
        <option value="silver-gray" class="order-form__option">K9D Silver Gray</option>
        <option value="white blue" class="order-form__option">K9U White Blue</option>
      </select>


      <select name="quantity" class="order-form__select">
        <span class="option-decoration"><option value="black-orange" class="order-form__option">Quantity</option></span>
      </select>

      <select name="payment" class="order-form__select">
        <span class="option-decoration"><option value="black-orange" class="order-form__option">Payment</option></span>

      
        <textarea class="order-form__textarea" name="user-messagge" id="">
        </textarea>

     
    </form>
    <button type="submit" class="order-form__button button">Buy it now</button>

    <button type="submit" class="order-form__button button">ADD TO CART</button>
  </div>
</section>