// Цей файл використовується для об'єднання (підключення) всіх інших файлів зі стилями Вашої частини проєкту
.overlay {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
}


.modal {

    opacity: 0;
    visibility: hidden;

    width: 100%;
    max-width: 500px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    /* Должен быть выше чем у подложки*/
}



.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}




.overlay {

    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;

    position: fixed;
    // top: 104px;
    top: 0;
    left: 0;
    // right: 0;
    // bottom: 401px;

    width: 100%;
    height: 100%;
    background: rgba(0, 20, 20, 0.8);
    z-index: 20;

}

.modal {
    display: block;

    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;

    width: 100%;
    max-width: 272px;
    text-align: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    /* Должен быть выше чем у подложки*/

    padding: 100px 17px;
    background-color: $teal-text-color;

    @include tablet {
        max-width: 688px;
        padding: 88px 0px;
    }

    @include desktop {
        max-width: 768px;
    }

}


.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal__btn {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 50%;

    cursor: pointer;

    &:hover,
    &:focus {
        box-shadow: 0px 4px 10px rgba(134, 229, 67, 0.1),
            0px 4px 20px rgba(134, 229, 67, 0.4);
    }
}

.modal__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;

    @include tablet {
        font-size: 56px;
        line-height: 1.18;
    }

    &-buy-it-now {
        max-width: 232px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;

        @include tablet {
            max-width: 576px;
            margin-bottom: 56px;
        }

        @include desktop {
            max-width: 608px;
        }
    }

    &-add-to-cart {

        max-width: 184px;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;

        @include tablet {
            max-width: 608px;
            margin-bottom: 56px;
        }
    }

    &-modal-send {
        max-width: 214px;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;

        @include tablet {
            max-width: 638px;
            margin-bottom: 80px;
        }
    }

}


.modal__link {
    max-width: 173px;
    padding: 16px 20px;
}


.modal-href {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #414b52;
    margin: 10px;
    color: #fff;
    border-radius: 3px;
}